[client]
#host = db
host = db
database = clo_statistic
user = clo_statistic
password = clo_statistic
default_character_set = utf8mb4
#default-character-set = utf8mb4
#charset = utf8mb4
init_command = 'SET NAMES utf8mb4;'
