{% extends 'base.html' %}
{% load humanize %}
{% load poll_extras %}

{% block content %}

<div class="container" style="background-color: #e5e5e5 !important;">
    <div class="row" style="margin-top:10px;margin-bottom:10px;">

        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="dashboard-stat2 ">
                <div class="display">
                    <div class="number">
                        <small>Block Height</small>
                        <h3>
                            <div class="icon">
                                <i class="fa fa-cube"></i>
                            </div>
                            <small>#</small>
                            <span class="font-green-title"><a class="font-green-title" href="/block/{{block_height}}">{{block_height |intcomma}}</a></span>
                        </h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="dashboard-stat2 ">
                <div class="display">
                    <div class="number">
                        <small>Block Time</small>
                        <h3>
                            <div class="icon">
                                <i class="fa fa-hourglass-half"></i>
                            </div>
                            <small>#</small>
                            <span class="font-green-title">{{block_time}} s</span>
                        </h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="dashboard-stat2 ">
                <div class="display">
                    <div class="number">
                        <small>Network Hashrate</small>
                        <h3>
                            <div class="icon">
                                <i class="fa fa-tachometer-alt"></i>
                            </div>
                            <small>#</small>
                            <span class="font-green-title">{{hashrate|getDifficulty}}/s</span>
                        </h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="dashboard-stat2 ">
                <div class="display">
                    <div class="number">
                        <small>Difficulty</small>
                        <h3>
                            <div class="icon">
                                <i class="fa fa-puzzle-piece"></i>
                            </div>
                            <small>#</small>
                            <span class="font-green-title">{{difficulty|getDifficulty}}</span>
                        </h3>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

</div>


{% endblock content %}




